<ci-table (TableEmitEventEdit)="handleCallbackEventEdit($event)" (TableEmitEventDelete)="handleCallbackEventDelete($event)" [dataTable]="dataTable" [listLable]="listLable" [classCiTable]="'ci-table'">
    <label for="">dscds</label>
    <button>Xoa</button>
</ci-table>
<!-- <app-home></app-home> -->
<!-- <p>{{ "dynamic-forms-question works!" | textOverflow: [4, "...Vãi"] }}</p>
<input type="text" [OnlyNumber]="true" /> -->

<!-- <ci-base-forms [formProps]="questions$ | async "> </ci-base-forms> -->

<ci-login [title]="'Đăng nhập'" [classCustom]="'login'">
    <label>Lưu thông tin đăng nhập
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
      </label>
    </label>
</ci-login>

<div class="login-container">
    <div class="login-body">
        <h4 class="title">ĐĂNG NHẬP</h4>
        <form [formGroup]="loginForm" (ngSubmit)="login2()">
            <div class="form-group">
                <input required formControlName="username" OnlyNumber="true" class="form-control" type="text" placeholder="Số điện thoại" />
                <!-- <span
                class="text-danger"
                *ngIf="
                  loginForm.get('username').touched &&
                  loginForm.get('username').errors?.required
                "
              >
                Cần nhập Số điện thoại
              </span> -->
            </div>
            <div class="form-group">
                <input autocomplete="on" required formControlName="password" class="form-control" [type]="'password'" placeholder="Mật khẩu" />
                <!-- <span
                class="text-danger"
                *ngIf="
                  loginForm.get('password').touched &&
                  loginForm.get('password').errors?.required
                "
              >
                Cần nhập mật khẩu
              </span> -->
            </div>

            <div class="submit">
                <button class="button-primary">Đăng nhập</button>
            </div>
        </form>
    </div>
</div>
<div>
    <!-- <ci-message-list [messageList$]="his | async">
    <ng-template #item let-item="item">
      <ci-message-text [item]="item" [currentUserId]="currentUserId" [messageWrapCss]="{
          sendedClass: 'test_sended',
          receiveClass: 'test_receive'
        }"></ci-message-text>
      <button (click)="delRandom(item)"></button>
    </ng-template>
  </ci-message-list> -->
  <ci-fb-chat-design
    [his]="his"
    [currentUserId]="currentUserId"
    (fbChatCallBack)="delRandom($event.item)"
  >
  </ci-fb-chat-design>
</div>
