<!-- <p *ngFor="let item of items">home works!</p> -->
<ci-search
  [cssClass]="'abc'"
  [searchParams]="'keyword'"
  [listItemClient]="[
    { keyword: 'Con cá', title: 'abc' },
    { keyword: 'lừu đạn', title: 'abc' },
    { keyword: 'vãi lúa', title: 'abc' },
    { keyword: 'ối dồi ơi', title: 'abc' },
    { keyword: 'đông ý', title: 'abc' }
  ]"
  (searchItemsClient)="test($event)"
  [params]="{
    keyword: 'abc',
    title: 'abc'
  }"
>
</ci-search>

<ci-list
  [id]="'asf'"
  [items]="items"
  [itemPerPage]="1"
  [currentPage]="currentPage"
  [totalItem]="items.length"
>
  <ng-template #item let-item="item">
    <div>
      <p>ad {{ item }}</p>
    </div>
  </ng-template>
  <ng-template #pagination let-item="pagination">
    <ci-pagination
      [id]="'asf'"
      (pageChange)="currentPage = $event; test($event)"
    ></ci-pagination>
  </ng-template>
</ci-list>
