<div class="row">
    <div
        *ngFor="let item of data"
        class="col-6"
        [class]="item.class"
    >
        <div *ngIf="item.type ==='text' || item.type ==='number'">
            <label for=""> {{item.label}} </label>
            <input
                type=" {{item.type}}"
                id="{{item.id}}"
                [value]="item?.value"
                [name]="item.id"
                [(ngModel)]="model[item.id]"
            >
        </div>
        <div *ngIf="item.type ==='selected'">
            <label for=""> {{item.label}} </label>
            <select [(ngModel)]="model[item.id]">
                <option
                    *ngFor="let i of item.data"
                    value="{{i.value}}"
                >
                    {{i.value || 1}}
                </option>
            </select>
        </div>
        <div *ngIf="item.type ==='checkbox'">
        </div>
    </div>
    <button
        class="btn btn-success"
        (click)="callBackData()"
    >Hoàn thành</button>
</div>